.red {
    color: red;
}

.green {
    color: green;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

th {
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
}

input.input_field {
    width: 100%;
}

.first_column {
    background-color: lightgray;
}
.ro_field {
    background-color: lightgray;
    padding: 0;
    border: 0 lightgray;
}

.button {
    font-size: large;
}